<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>
BABY HOMESTAY-Coorg Places
</title>

<link rel="canonical" href="http://www.homestayname.com" />

<meta name="keywords" content="homestay name, Coorg homestay">
<meta name="description" content="">
<meta name="author" content="Kenith"> 
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<script type="text/javascript" src="jump.js"> </script>

<script language="JavaScript1.1">

//specify interval between slide (in mili seconds)
var slidespeed=3000
//specify images
var slideimages=new Array("pic/1.jpg","pic/2.jpg","pic/abby.jpg","pic/chiklihole.jpg","pic/dubare.jpg","pic/nagarahole.jpg","pic/tibet.jpg","pic/trek.jpg")
//specify corresponding links
var slidelinks=new Array("places4.html#k1","places4.html#k2","places1.html#k3","places3.html#k4","places3.html#k5","places3.html#k6","places2.html#k7","places3.html#k8")
var newwindow=1 //open links in new window? 1=yes, 0=no
var imageholder=new Array()
var ie=document.all
for (i=0;i<slideimages.length;i++){
imageholder[i]=new Image()
imageholder[i].src=slideimages[i]
}

function gotoshow(){
if (newwindow)
window.open(slidelinks[whichlink])
else
window.Clocation=slidelinks[whichlink]
}

</script>

<link rel="Stylesheet" type="text/css" href="optimistic.css" />

<!--[if lte IE 6]>
	<script type="text/javascript" language="javascript" src="iehover.js"></script>
<![endif]-->

</head>

<body>

<div id="fb-root"></div>

<div id="container" style="background: url(images/babyhomestay.jpg) left top no-repeat;">

<div id="header">
<h1>
Baby Cottage
</h1>
<!-- TOP MENU -->
<ul id="mainmenu">
	<li><a href="index.html"><span>Home</span></a></li>
	<li><a href="#"><span>About</span></a></li>
	<li class="active"><a href="places1.html"><span>Places</span></a></li>
	<li><a href="gallery.html"><span>Gallery</span></a></li>
	<li ><a href="#"><span>Booking</span></a></li>
</ul>
<!-- TOP MENU END -->
</br>
</br>
</br>
</div>

<div style="width: 445px;float: right;position: relative;">
<br><br>
 
	<font color=#2554C7 face=tahoma><h3 id="k3">Abbi Waterfalls</h3></font>
    <img src="pic/abby.jpg" alt="Abbi Waterfalls" width="150" height="96" border="10"  style="padding:0.1in;float:left;" >
 
 
 
<p>Abbi Falls, sometimes refered to as Abby Falls, is situated just 7 kilometers from Madikeri town. Reaching the place is a jolly ride in itself as the road that you drive on is very narrow with lots of turns and twists, ups and downs. A smiling mother nature welcomes you at every turn. 
This famous falls, situated on a private property, attracts a large number of tourists around the globe. The water level swells during monsoon. It is highly advised neither to swim nor to go close to the waterfalls. The falls is more enjoyable within the fenced area wherefrom you get its friendly pose for your camera! The best place to have a better view of the falls is by standing on the hanging bridge opposite to the falls itself.</p>
 
  
<font color=#F88017><b>How to reach Abbey/Abby waterfalls:</b></font><br>
 <p><b>Location:</b> 7 Kms from Madikeri</p>

 
 
 <font color=#2554C7 face=tahoma><h3>Irpu Waterfalls</h3></font>
 <img src="pic/fls.jpg" alt="Irpu Waterfalls" width="150" height="96" border="0" style="padding:0.1in;float:left;" >
 
 
 <p>Irpu falls (Irupu Falls) runs down through the Bhramagiri hills located in Kutta village of Coorg. It is a stream of Lakshmana-Theertha river and also a sacred place. The water jets from about 60m high and finally joins river Cauvery. The famous temple of Lord Shiva, known as the Rameshwara Temple, is situated nearby.  Wandering beyond the falls is restricted as the whole place is termed as wildlife sanctuary.
 This narrow water falls is extremely beautiful and soothing. The lush green mountains around the falls makes it look more eligant and picturesque. You can also relax at a refreshing pond halfway up the falls. </p>
 
 
<font color=#F88017><b>How to reach Irpu waterfalls:</b></font><br>
<p><b>Location:</b> Kutta village <br><b>Distance: </b>80 kms from Madikeri, 30kms from Gonikoppa, 25 kms from Nagarahole and about 48 km from Virajpet on the way to Nagarahole.</p>

 
<font color=#2554C7 face=tahoma><h3>Chelavara Waterfalls</h3></font>
<img src="pic/si.jpg" alt="Chelavara Waterfalls" width="150" height="96" border="0" style="padding:0.1in;float:left;" >
 
 
<p>This ambushed but majestic stream-falls is an ideal place for budding trekkers and nature lovers. Reaching this place is full of fun and adventurous as one has to cruse through the countryside crossroads all along. You will have to walk for about a kilometer from the parking area to reach the falls.  It is fairly easy to climb to the falls, but the incline and trail difficulty increases dramatically in the next few miles if you choose to continue beyond. Two kilometers from the falls is another enigmatic Hill, an ideal spot to enjoy the sunset. This falls is often miss-spelled as Chalvera Falls, which is incorrect.</p>
<p>It is more like a mini-trekking. People with knee pain might face difficulties. Older generation might not enjoy the trip to Chelavara falls. Do not leave children unattended at anytime. Carry all necessary things along with you, as there are no shops in the vicinity.It is advisable to take along water bottle, towel (if you intend to get into the water), eatables (if you wish to make it a picnic), first aid kit (you never know) and a camera! Try as much to wear trekking boots or sport shoes and avoid wearing slippers, sandals, high heels, formal/office shoes etc. Be extremely careful when you get into water in Coorg as it might cost you your sweet life. Safety first! </p>
 
 
<font color=#F88017><b>How to reach Chelavara waterfalls:</b></font><br>
<p><b>Location:</b> Chelavara village (Madikeri-Murnad-9 kms into Virajpet Road-deviation-Kadanga Town-Chelavara village)<br><b>Distance: </b> 38 kms from madikeri<br></p>
 

<font color=#2554C7 face=tahoma><h3>Mallalli Waterfalls</h3></font>
<img src="pic/mf.jpg" alt="Mallalli Waterfalls" width="150" height="96" border="0" style="padding:0.1in;float:left;" >
 
 
<p>Nestled within the thick Forrest, the Mallalli falls (Mallali Falls) is one of the tallest waterfalls in the Coorg where river Kumaradhara, drops down from over 200 feet. Scattered along the stream you will find incredibly misty waterfalls. The Mallalli waterfall looks like a thick veil, flowing from 61 meters above to the waters below.  A shimmering falls flowing through both rocks and outlined by brilliant green flora creates a calming atmosphere like no other. Mallalli falls is situated on the foothills of Pushpagiri hill-ranges. Be prepared for a truly magical experience.  </p>
 
 
<font color=#F88017><b>How to reach Mallalli waterfalls:</b></font><br>
<p><b>Location:</b> Bettadahalli Gram Panchayat, Somwarpet Taluk<br><b>Distance: </b> 50Kms from Madikeri towards Somwarpet; 42 Kms from Kushalnagar towards Somwarpet; <br></p>


 
 <font color=#2554C7 face=tahoma><h3>Harangi Dam</h3></font>
 <img src="pic/harangi.jpg" alt="Harangi Dam" width="150" height="96" border="0" style="padding:0.1in;float:left;" >
 
<p>Harangi Dam, built across the tributary of river Cauveri, is located at Hadgur village that is around 8 kms from kushalnagar. With a height of 47 mts. and 846 mts. length, the dam attracts people mostly during the monsoon season when the released water roaringly splashes the ground. This place is ideal for weekend picknick with family and friends. Best time to visit the dam is between August to October. Guest house facility is available upon reservation from the public works department.</p>
 
 
<font color=#F88017><b>How to reach Harangi Dam:</b></font><br>
<p><b>Location: </b>Hadgur Village<br><b>Distance: </b>36 Kms from Madikeri and 8 Kms from Kushalnagar<br></p>


<br>
<br>

<p style="font-family: Arial-Black;">
<a href="places1.html" style="font-size: 20pt;">1</a>&nbsp; &nbsp;
<a href="places2.html" >2</a>&nbsp; &nbsp;
<a href="places3.html" >3</a>&nbsp; &nbsp;
<a href="places4.html" >4</a>&nbsp; &nbsp;
<a href="places2.html"> <img src="images/f.png" width="40" height="30" ></a>
</p>

<table width="600" cellpadding=0 cellspacing=0>
</td>
</tr>
	<tr>
	<td bgcolor=#000  height=2 colspan=3>
	</tr>
 
</table> 
</div> 
 
 
<div id="column">
<div>
<!-- NAVIGATION START -->

<h3>Usefull Links</h3>
<ul class="menu">
	<li><a href="#">About Coorg</a></li>
	<li><a href="#">Coorg Culture</a></li>
	<li><a href="#">How to reach Coorg</a></li>
	<li><a href="#">Coorgy dishes</a></li>
</ul>

<h3>Places</h3>

<a href="javascript:gotoshow()"><img src="pic/1.jpg" name="slide" style="filter:blendTrans(duration=3) ;border:5px " width=190 height=140 ;
 ></a>

<script language="JavaScript1.1">

var whichlink=0
var whichimage=0
var blenddelay=(ie)? document.images.slide.filters[0].duration*1000 : 0

function slideit(){
if (!document.images) return
if (ie) document.images.slide.filters[0].apply()
document.images.slide.src=imageholder[whichimage].src
if (ie) document.images.slide.filters[0].play()
whichlink=whichimage
whichimage=(whichimage<slideimages.length-1)? whichimage+1 : 0
setTimeout("slideit()",slidespeed+blenddelay)
}
slideit()

</script>
<br>
<br>

<h3>Google Map view</h3>

<iframe width="190" height="140" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?q=12.182027,75.914876&amp;num=1&amp;t=h&amp;hl=en&amp;ie=UTF8&amp;z=14&amp;ll=12.184292,75.925484&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?q=12.182027,75.914876&amp;num=1&amp;t=h&amp;hl=en&amp;ie=UTF8&amp;z=14&amp;ll=12.184292,75.925484&amp;source=embed" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
<br>
<br>
<h3>Contact Details</h3>

<p style="text-align:left;">
name</br>
email</br>
phone no

</br>
</p>

<br>
</div></div>



<div id="footer">
<br>
<p>
<!-- COPYRIGHT INOFRMATION -->
Copyright &copy; 2012 <a href="mailto:kenith.777@gmail.com">kenith</a>.
<!-- COPYRIGHT INOFRMATION END -->
All Rights Reserved to Baby homestay
</p>
</div>

</div>

</body>
</html>
