<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>


<title>
BABY HOMESTAY-Coorg Places
</title>

<link rel="canonical" href="http://www.homestayname.com" />

<meta name="keywords" content="homestay name, Coorg homestay">
<meta name="description" content="">
<meta name="author" content="Kenith"> 
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<script language="JavaScript1.1">

//specify interval between slide (in mili seconds)
var slidespeed=3000
//specify images
var slideimages=new Array("pic/1.jpg","pic/2.jpg","pic/abby.jpg","pic/chiklihole.jpg","pic/dubare.jpg","pic/nagarahole.jpg","pic/tibet.jpg","pic/trek.jpg")
//specify corresponding links
var slidelinks=new Array("places4.html#k1","places4.html#k2","places1.html#k3","places3.html#k4","places3.html#k5","places3.html#k6","places2.html#k7","places3.html#k8")
var newwindow=1 //open links in new window? 1=yes, 0=no
var imageholder=new Array()
var ie=document.all
for (i=0;i<slideimages.length;i++){
imageholder[i]=new Image()
imageholder[i].src=slideimages[i]
}

function gotoshow(){
if (newwindow)
window.open(slidelinks[whichlink])
else
window.location=slidelinks[whichlink]
}

</script>

<link rel="Stylesheet" type="text/css" href="optimistic.css" />

<!--[if lte IE 6]>
	<script type="text/javascript" language="javascript" src="iehover.js"></script>
<![endif]-->

</head>

<body>

<div id="fb-root"></div>


<div id="container" style="background: url(images/babyhomestay.jpg) left top no-repeat;">

<div id="header">
<h1>
Baby Cottage
</h1>
<!-- TOP MENU -->
<ul id="mainmenu">
	<li><a href="index.html"><span>Home</span></a></li>
	<li><a href="#"><span>About</span></a></li>
	<li class="active"><a href="places1.html"><span>Places</span></a></li>
	<li><a href="gallery.html"><span>Gallery</span></a></li>
	<li ><a href="#" target="_blank"><span>Booking</span></a></li>
</ul>
<!-- TOP MENU END -->
</br>
</br>
</br>
</div>

<div style="width: 445px;float: right;position: relative;">
<br><br>
 
	
<font color=#2554C7 face=tahoma><h3>Nisargadama</h3></font>
<img src="pic/nisarga.jpg" width="150" height="96" border="0" style="padding:0.1in;float:left;" >
 
 
<p>Nisargadham (as it is popularly known as) is an Ecological Park for young and old and a paradise for the nature lovers. This romantic 64-acre island, accessible through a hanging bridge. It gives immense pleasure to all the Nature and Fun loving tourists to wander around the park. Honeymooners (or anybody!!!) can enjoy boating and spend some time together away from the crowd. If you are looking for some extra large fun, then the elephant back ride is deemed perfect.</p>
<p>Having local food surrounded by tweeting birds and whispering nature in a Restaurant made from bamboo is definitely bliss!  It also has a forest department run guest house and treetop bamboo cottages. A wide variety of wild animals can be found here including dears, peococks and rabbits that comes handy. There is also a children's playground and orchidarium</p>
 
<font color=#F88017><b>How to reach Nisargadhama/Nisargadama:</b></font><br>
<p><b>Location: </b>Gudde hosur <br><b>Distance:</b> 30 Kms from Madikeri, 4 Kms from Kushalnagar & 95 Kms from Mysore.
<br></p>
 
 
 
<font color=#2554C7 face=tahoma><h3 id="k6">Nagarahole</h3></font>
<img src="pic/nagarahole.jpg" width="150" height="96" border="0" style="padding:0.1in;float:left;" >
 
<p>Nagarhole National Park is also known as 'Rajiv Gandhi National Park. The word 'Nagarahole(y)' means 'Cobra-river' (Nagara=Cobra snake; Holey=River) in Kannada.  It is spread between Kodagu and Mysore districts. Nagarahole river flows through the park and gradually joins the Kabini river which also is a boundary between Nagarahole and Bandipur. </p>
<p>The exclusive hunting reserve of the former rulers of Mysore, the park has rich forest cover, small streams, valleys, and waterfalls. Variety of Birds, animals and reptiles can be found here. It streches over 640 km², protecting the wildlife of Karnataka. Together with the adjoining Bandipur National Park (870 km²) and Mudumalai National Park (320 km²), it forms the largest protected area in southern India. Several streams in the Park, are tributaries of the two major rivers in the State, namely, Lakshmanathirtha and Kabini which in turn join the river Cauvery. 
</P>
<P>Forest department vehicles are available for wildlife viewing. The ideal time to visit the park is between September and May. The Forest Department, have their rest houses at Nagarahole. Wild animals found here include the Tiger, Leopard, Indian elephant, Indian bison or gaur, Wild dog, Sloth bear, Indian giant squirrel, Palm civet, Common otter, Four horned antelope, Mouse deer, Indian python, Indian cobra and many more.  Variety of The bird life includes the Peacock, Grey jungle fowl, Alexandrine parakeet being some of them.</p>
 

<font color=#F88017><b>How to reach Nagarahole:</b></font><br>
<p><b>Location:</b> It is spread between Kodagu and Mysore districts.<br><b>Distance:</b> 90 kms from Madikeri & 95 Kms from mysore<br></p>
  
 
 
<font color=#2554C7 face=tahoma><h3 id="k5">Dubare Forest</h3></font>
<img src="pic/dubare.jpg" width="150" height="96" border="0" style="padding:0.1in;float:left;" >
 
<p>Dubare Forest is a natural island of about 11-12 acres. This is a fabulous pick nick place where you can enjoy singing to the karaoke of Mother Nature. Elephants are often found bathing in the river with mahouts helping them with the process. If you have a good smile and a good sense of humor you can get a free ride on the elephant!</p>
<p>This is mainly an elephant capturing and training camp of the Forest Department. Giants of the jungle are captured with the help of the local tribesman, The Kurubas, and few tamed or domestic elephants. Fishing is allowed but with the prior permission from the wild life society. The Forest Department maintains cottages/guest houses at Dubare forest. Activities here includes, bird watching, white river rafting, trekking, boating, fishing, camp fire and many more. Situated on the banks of River Cauvery, this place is an ideal holiday spot. </p>
 
 
<font color=#F88017><b>How to reach Dubare Forest:</b></font><br>
<p><b>Location:</b> Near Nanjarayapattana.<br><b>Distance:</b> 40 Kms from Madikeri & 16 Kms from Kushalnagar<br></p>
 
 
 
<font color=#2554C7 face=tahoma><h3 id="k4">Chiklihole Reservoir</h3></font>
<img src="pic/chiklihole.jpg" width="150" height="96" border="0" style="padding:0.1in;float:left;" >
 
 
<p>Pronounced as 'Chikli-holey', it is a large body of water that offers both relaxation and tranquillity; perfect for holidaymakers and nature lovers looking to escape the stresses of their lives back home.The area surrounding Chiklihole reservoir makes this place particularly attractive. Watching the Sunset from here is extremely picturesque and photogenic. The green meadow on one side and thick forest on the other makes this place a great travel destination across Coorg.
The Chiklihole reservoir on the tributary of river Kaveri is also a wonderful picnic spot. </p>
 

<font color=#F88017><b>How to reach Chiklihole Reservoir:</b></font><br>
<p><b>Location:</b> Near Nanjarayapattana.<br><b>Distance:</b> 45 Kms from Madikeri, 18 km's from Kushalnagar and 5 km's from Dubare forest<br></p>
 
  
 
<font color=#2554C7 face=tahoma><h3>Coffee Estate/Plantation/Farm</h3></font>
<img src="pic/3.jpg" width="150" height="96" border="0" style="padding:0.1in;float:left;" >
 
 
<p>The coffee plantation tour is ideal for anyone that wants to experience the culture while eyewitness the production of the freshly brewed coffee they will have in the mountains. Also for those who wishes to see Coorg outside the Metro and tourist area in a safe and enjoyable atmosphere. Hotel guests, whether they drink coffee or not, have an opportunity to see up-close Coorg's enchanting scenery in style. Visitors are accompanied by the Estate owners who also play the host. You can get the best knowledge on how coffee is grown and how it is sold. People of Coorg are famous for their hospitality. You can also taste typical Veg/Non-veg Coorg meals with prior arrangements with the estate owner. Accomodation and food is often provided within the Coffeefarm and is popularly known as Plantation-stays. </p>
<p>In addition, they will also be able to buy coffee at wholesale for themselves or as a gift. Fill their lungs with Coorg mountain air at approximately 2,500 - 5000feet. A tour of a century-old coffee plantations located on the hilly area provides the opportunity to enjoy coffee production, in a single, very scenic, tasty and aroma-filled experience. Finally, you will inhale from a cup with freshly brewed Coorg specialty coffee and drink it while being inside a plantation surrounded by the coffee workers. </p>
 
<p><b>Location: </b> Most parts of Coorg (Prior permission required). Advised to consult proffesional tour guides, hotels or tourism info centre for locations. <br></p>
 
 
 
<font color=#2554C7 face=tahoma><h3 id="k8">Trekking and Hiking around Coorg</h3></font>
<img src="pic/trek.jpg" width="150" height="96" border="0" style="padding:0.1in;float:left;" >
 
<p>Visitors may select treks that suit their level of fitness, from easy one-hour or day rambles to highly challenging climbs. If you’re keen to enjoy Coorg’s beautiful landscapes and explore our vast wilderness areas, pack a selection of walking shoes and boots.</p>
<p>About 90 per cent of Coorg trekking spots are protected land with public access, so there are plenty of tracks and trails to choose from. You can find your own way, or take advantage of the many guided hikes and tours.Best season to plan your trekking is during December to May</p>
 
<font color=#F88017><b>Tadiandamol</b></font><br>
 
<p>Tadiandamol is the highest mountain of Coorg district, and the second highest in Karnataka. Located on the Western Ghats range, and reaches an elevation of 1,748 mtrs (5,734 Ft)  this place is special interest for trekkers. The mountain, covered with thick forest, is flooded with leeches.</p>
<p>This peak is situated near Virajpet about a 30kms away on the way to Napoklu, Bhagamandala and it lies adjacent to the Makutta forest.
The peak is not altogether inaccessible; two-thirds of it can be negotiated on a jeep. On the way you can also have a glimpse of an old palace called 'Nalku Naadu Aramane'. All along the way trekkers experience grassy valleys, beech forests, high waterfalls, wildlife and amazing views. Most rewarding of all is the spectacular sight of distant cities or towns at the end.  </p>
 
 
<font color=#F88017><b>Pushpagiri Hill</b></font><br>
<p>
The Pushpagiri or Subramanya hill (5,626 ft.), is in the north-west of Kodagu, about 36 kms from Somwarpet and 1.5 km from Kumaralli, which is amidst thick forest. This is a remarkable two-pointed hill of precipitous height and peculiar shape and resembles, as seen from Madikeri, a gigantic bullock hump.The lolcation of this mountain and its steep sturcture makes it more adventurous than Tadiandamol. Once you reach to its summit, stunning landscape and an breath taking view of Kodagu/Coorg, Dakshina Kannada, Mysore and Hassan can be seen.</p>
 
<font color=#F88017><b>Brahmagiri Hill  </b></font><br>
<p>From the source of River Cauvery, Talacauvery, you can Trek/hike towards the peak of about 300 feet. Besides stunning mountain peaks, lush rainforests, rushing streams, immense waterfalls, superb beech forests and wild coasts, trekkers have opportunities to see rare forest flowers, ancient trees and strange insects passing by.Hiking trips allow you to visit more remote and unspoiled parts of Coorg and to see the landscape and culture with very little outside influence.</p>
 
 
<font color=#F88017><b>Honnamana Kere  </b></font><br>
<p>Honnamana Kere is a hotspot for Trekking & Rock Climbing. Adjecent Cliffs (Gavi betta and Mori betta) are the favourite places adventure lovers. If you prefere to be relaxed you can take a Hike in the Coffee plantations.</p>


<br>
<br>
<p style="font-family: Arial-Black;">
<a href="places2.html"> <img src="images/b.png" width="40" height="30" ></a>&nbsp; &nbsp;
<a href="places1.html">1</a>&nbsp; &nbsp;
<a href="places2.html">2</a>&nbsp; &nbsp;
<a href="places3.html" style="font-size: 20pt;">3</a>&nbsp; &nbsp;
<a href="places4.html">4</a>&nbsp; &nbsp;
<a href="places4.html"> <img src="images/f.png" width="40" height="30" ></a>
</p>
<table width="600" cellpadding=0 cellspacing=0>
</td>
</tr>
	<tr>
	<td bgcolor=#000  height=2 colspan=3>
	</tr>
 
</table> 
</div> 
 
 
<div id="column">
<div>
<!-- NAVIGATION START -->

<h3>Usefull Links</h3>
<ul class="menu">
	<li><a href="#">About Coorg</a></li>
	<li><a href="#">Coorg Culture</a></li>
	<li><a href="#">How to reach Coorg</a></li>
	<li><a href="#">Coorgy dishes</a></li>
</ul>

<h3>Places</h3>

<a href="javascript:gotoshow()"><img src="pic/1.jpg" name="slide" style="filter:blendTrans(duration=3) ;border:5px " width=190 height=140 ;
 ></a>

<script language="JavaScript1.1">

var whichlink=0
var whichimage=0
var blenddelay=(ie)? document.images.slide.filters[0].duration*1000 : 0

function slideit(){
if (!document.images) return
if (ie) document.images.slide.filters[0].apply()
document.images.slide.src=imageholder[whichimage].src
if (ie) document.images.slide.filters[0].play()
whichlink=whichimage
whichimage=(whichimage<slideimages.length-1)? whichimage+1 : 0
setTimeout("slideit()",slidespeed+blenddelay)
}
slideit()

</script>
<br>
<br>

<h3>Google Map view</h3>

<iframe width="190" height="140" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?q=12.182027,75.914876&amp;num=1&amp;t=h&amp;hl=en&amp;ie=UTF8&amp;z=14&amp;ll=12.184292,75.925484&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?q=12.182027,75.914876&amp;num=1&amp;t=h&amp;hl=en&amp;ie=UTF8&amp;z=14&amp;ll=12.184292,75.925484&amp;source=embed" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
<br>
<br>
<h3>Contact Details</h3>

<p style="text-align:left;">
name</br>
email</br>
phone no

</br>
</p>

<br>
</div></div>



<div id="footer">
<br>
<p>
<!-- COPYRIGHT INOFRMATION -->
Copyright &copy; 2012 <a href="mailto:kenith.777@gmail.com">kenith</a>.
<!-- COPYRIGHT INOFRMATION END -->
All Rights Reserved to Baby homestay
</p>
</div>

</div>

</body>
</html>
